<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Campaign</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/home.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #fff8dc;">
        <br>
        <h2 style="text-align:center;">Campaign Details</h2>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <span> {{ message }} </span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h4 style="text-align: center;">Edit the following details</h3>
        <br>
        <div class="container sponsorLogin" style="max-width:60%">
            <div class="col-md-6 mx-auto">
                <br>
                <h4 style="text-align:center;"> <u>Edit Campaign</u> </h4>
                <br>
                <form action="/sponsor/{{ sponsor.sponsor_username }}/campaigns/{{ campaign.campaign_id }}" method="POST" class="sponsor">
                    <div class="mb-3">
                        <label for="campaign_name" class="form-label">Name</label>
                        <input class="form-control" id="campaign_name" name="campaign_name" placeholder="Enter the name of the campaign" value="{{ campaign.campaign_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_description" class="form-label">Description</label>
                        <textarea rows="3" cols="50" class="form-control" id="campaign_description" name="campaign_description" placeholder="Enter the description of the campaign" required>{{campaign.campaign_description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_start_date" class="form-label">Start Date</label>
                        <input type="date" class="form-control" id="campaign_start_date" name="campaign_start_date" placeholder="Start Date" value="{{ campaign.campaign_start_date }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_end_date" class="form-label">End Date</label>
                        <input type="date" class="form-control" id="campaign_end_date" name="campaign_end_date" placeholder="End Date" value="{{ campaign.campaign_end_date }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_budget" class="form-label">Budget</label>
                        <input type="text" name="campaign_budget" class="form-control" id="campaign_budget" placeholder="Type budget of the campaign" value="{{ campaign.campaign_budget }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_visibility" class="form-label">Visibilty </label>
                        <select name="campaign_visibility" class="form-select" id="campaign_visibility" required>
                            <option value="">Select from drop down</option>
                            <option value="Public" >Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="campaign_goals" class="form-label">Goals</label>
                        <textarea rows="3" cols="50" class="form-control" id="campaign_goals" name="campaign_goals" placeholder="Enter the goals of the campaign" required>{{campaign.campaign_goals}}</textarea>
                    </div>
                    <div class="mb-3" style="text-align:center;">
                        <input type="submit" value="Edit" name="submit" id="submit" class="btn btn-info">
                    </div>
                    <br>
                </form>
            </div>
        </div>

        <script>
            var campaign_visibility = document.getElementById("campaign_visibility");
            var campaign_visibility_selected = "{{campaign.campaign_visibility}}"
            for (var i = 0; i < campaign_visibility.options.length; i++) {
                if (campaign_visibility.options[i].value === campaign_visibility_selected) {
                    campaign_visibility.options[i].selected = true;
                    break;
                }
            }
        </script>
    </body>
</html>